apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: mini-api-hpa
  namespace: mini-platform
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: mini-api
  minReplicas: 2
  maxReplicas: 6
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 60
